@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');

h1, a, h5, h2, h3, small{
    font-family: 'Shantell Sans', cursive;
    font-size: 1.2rem;
}

p {
    font-family: 'Shantell Sans', cursive;
    font-style: normal;
    font-weight: 300; 
}

nav {
    border-bottom: 2px solid black;
    background-color: #FFCA33;
}

.navbar--offcanvas-header__color-fondo__contenido {    
    background-color: #FFCA33;
    border-bottom: 2px solid black;
}

.navbar__logo {
    max-height: 80px;
}

.navbarAbierto--color-fondo {
    background-image: url("../img/home/navbarFondoExpand.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerBelowNavbar--box-size {
    background-image: url("../img/home/navbarFondoHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}

@media screen and (max-width: 767px) {
    img {
      object-fit: fill;
      height: 100%;
      width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    img {
        object-fit: fill;
        height: 310px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 2559px) {
    img {
        object-fit: fill;
        height: 350px;
        width: 100%;
    }
}

@media screen and (min-width: 2560px) {
    img {
      object-fit: fill;
      height: 460px;
      width: 100%;
    }
}

/* img {
    object-fit: fill;
    height: 100%;
    width: 100%;
} */