@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');

h1, a, h5, h2, h3 {
    font-family: 'Shantell Sans', cursive;
    font-size: 1.2rem;
}

p {
    font-family: 'Shantell Sans', cursive;
    font-style: normal;
    font-weight: 300; 
}

nav {
    border-bottom: 2px solid black;
    background-color: #FFCA33;
}

.navbar--offcanvas-header__color-fondo__contenido {    
    background-color: #FFCA33;
    border-bottom: 2px solid black;
}

.navbar__logo {
    max-height: 80px;
}

.navbarAbierto--color-fondo {
    background-image: url("../img/home/navbarFondoExpand.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.containerBelowNavbar--box-size {
    background-image: url("../img/home/navbarFondoHome.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
}
.card__img--size {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.personajes{
    object-fit: fill !important;
    max-width: 100% !important;
    max-height: 550px !important;
}



.contenedor{
    width:90px;
    height:240px;
    position:absolute;
    right:0px;
    bottom:0px;
  }
  .botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#F44336;
    right:0;
    bottom:0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    z-index: 9999;
  }
  span{
    transition:.5s;  
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
  .btn{
    width:40px;
    height:40px;
    border-radius:100%;
    border:none;
    color:#FFF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:28px;
    outline:none;
    position:absolute;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
  }
  .botonF2{
    background:#2196F3;
    margin-bottom:85px;
    transition:0.5s;
  }
  .botonF3{
    background:#673AB7;
    margin-bottom:130px;
    transition:0.7s;
  }
  .botonF4{
    background:#009688;
    margin-bottom:175px;
    transition:0.9s;
  }
  .botonF5{
    background:#FF5722;
    margin-bottom:220px;
    transition:0.99s;
  }
  .animacionVer{
    transform:scale(1);
  }
  

/* .zoro{
    object-fit: fill !important;
    max-width: 100% !important;
    max-height: 350px !important;
}

.nami{
    object-fit: fill !important;
    max-width: 100% !important;
    max-height: 400px !important;
}
 */
.tripulacion{
    
    max-width: 100% !important;
    max-height: 550px !important;
}
